	<h2>Breeasy Affiliate Terms</h2>
	All Pricing is set by Breeasy.com.  Breeasy will, from time to time, run specials, promos, etc. as well as offer discounts as an incentive.  Commissions paid are on these discounted prices, when
	applicable.<br>
	Payments made every 15th of the month with a minimum of $10.00.<br>
	Affiliates are expected to maintain a commission earnings of $100.00 per month, after 3 months of joining the program.  Affiliates that perform below this minimum
	may be cancelled from the program with 30 days notice at the discretion of Breeasy.com management.<br>
	For each new paid annual and monthly subscription, each affiliate earn up to 35%.  Renewals earn commission rates up to 25% Renewals are annual or monthly.  Commission rates vary by plan. Commissions are earned and are payable to the affiliate when the 
		subscription is paid by the subscriber.  In the case that a subscription is cancelled, any commissions previously paid on new or renewal and annual subscriptions
		 are pro-rated and credited against future payments.<br>

	To reduce fraud, affiliates that have a subscriber cancellation rate higher than 10% will result in cancellation of the affiliate program and commission payments will be suspended.<br>
	In certain cases, refunds for cancelled subscriptions will be pro-rated and the any commission paid will be deducted from any refund amount.<br>
	Commissions rates are subject to change and can be viewed on your dashboard.  Your dashboard is available once you complete your user details.<br>