
   <div id="bd">
   			<div class="yui-gd">
	    		<div class="yui-u first">
					<h1 id='first_col'>Some Handy Features</h1>
					<h3>-To Do Lists</h3>
					<h3>-Task Assignment and Management</h3>
					<h3>-Events and Calendars</h3>
					<h3>-Customer Service Incidents (CSIs)</h3>
					<h3>-Project Management</h3>
					<h3>-Manage Contacts and Companies</h3>
					<h3>-Daily Digest in your Inbox</h3>
					<h3>-Upload Files and Photos</h3>
		    	</div>
	    		<div class="yui-u">
<!-- 	    	Use Photos here  note size!	 -->
				<%= image_tag "icon_connections.jpg", :class => 'hero' %>
				
				</div>
		</div>

		<div id="yui-main">
			<div class="features">
				<h1>How Can We Help?</h1>
				<%= render 'form' %>
				
			</div> <!-- features -->
		</div> <!-- yui-main -->
	</div> <!-- bd -->



