
<%= form_for [@affiliate, @content], :url => {:controller => 'breeasy_affiliates', :action => 'create'} do |f| %>

<div id="bd">
	<div class="yui-g">
		<p><em>Enter some header copy</em>
		<h1><%= @affiliate.content.header_1 %></h1>
		<p>Introductory Copy Goes here - who you are, why are you selling breeasy products etc.</p>
		<p>Blurb about breeasy - </p>
	    <div class="yui-u first">
		<p>Products</p>
		</div>
		<div class="yui-u">
			Signup form for products - trial, etc.
		</div>
	</div>
	
	<div class="yui-g">
		<h1>Sub Affiliate Sales Rep Section</h1>
		<p>Introductory Copy Goes here - who you are, why are you selling breeasy products etc.</p>
		<p>Blurb about breeasy - </p>
	    <div class="yui-u first">
		<p>Affiliate Table</p>
		</div>
		<div class="yui-u">
			sub affiliate signup
		</div>
	</div>
</div>
