<h1>Preview - Preview - Preview - Preview - Preview - Preview</h1>


<%= link_to "Edit This Affiliate Page", edit_breeasy_affiliate_path(current_user.content.id) %>

<%= render :partial => "content" %>