<h1>Earn commissions selling and referring Breeasy</h1>
<p>It's easy to <i>Earn</i> with Breeasy!  Our affiliate program is designed to add substantial revenue to your blog, newsletter, small business content, and online retail site.  All you got to do is signup, read and agree to the terms, get your referral code and embeddable html and you are on your way.</p>
<h2>Earn up to 35% on Paid Plans</h2>
<p>Earn 35% commissions on all new annual paid <a href="http://www.breeasy.com/plans">plans</a>.  You'll earn commissions on renewals, too - up to 25%.  These commission rates are subject to change and some limitations apply.  Commission rates are published on your Affiliate Dashboard.
    <h2>How it Works</h2>
<p>Each affiliate creates their own unique referral code and is provided an embeddable html link that includes your referral code.  Once a user clicks your link, or enters your referral code when they sign up, that account is always linked to your affiliate code.  For example, if they start with a <a href="http://www.breeasy.com/apps/breeasy-for-business">Breeasy for Small Business Risk Free Trial</a>, then upgrade to a paid plan, you'll earn on each paid subscription. It never expires. </p>

<h2>On Demand Tracking and Reporting</h2>
<p>Do you like to manage your affiliate program in real time?  You can with the Breeasy Affiliate Program.  You can see how many trials, plans, and renewals are active and pending.</p>
<h2>Hurry - Limited Number of Affiliates Available</h2>
<p>Based on the results of our beta program, we are limiting the number of affiliates that can market and refer Breeasy apps.</p>
