<div class="breadcrumbs"><a href="http://affiliate.breeasy.com">Breeasy Affiliate Programs</a> > <%= link_to "Dashboard", user_affiliates_path(current_user.id) %> > Financials</div>
<h1>Help</h1>
<div id="bd">
	<div class="yui-g">
		<h2>Recent Paid Subscriptions</h2>
		<table>
			<thead><th>App</th><th>Plan</th><th>Date</th><th>email</th></thead>
		</table>
		<h2>Earnings</h2>
		<table>
			<thead><th>This Week</th><th>This Month</th><th>This Year</th><th</thead>
		</table>
		
	</div>
</div>




