<div class="breadcrumbs"><a href="http://www.breeasy.com">Breeasy.com</a> > <a href="http://www.breeasy.com/opportunities">Opportunities</a> > <a href="http://affiliate.breeasy.com">Breeasy Affiliate Programs</a></div>

<div id="bd">
	<h1>Easy Affiliate Earnings with Breeasy</h1>
	<p>Breeasy offers two ways to earn by referring and selling Breeasy Apps.</p>
	<div class="yui-g">
	    <div class="yui-u first">
		<h1>Standard Affiliate Program</h1>
		<ul class='features'>
			<li>Free!</li>
			<li>Earn up to 35% on paid plans</li>
			<li>Earn up to 25% on renewals</li>
			<li>On Demand Tracking</li>
			<li><%= link_to "Earnings Calculator", standard_affiliate_earnings_path %></li>
			<li>Signup and Earn Today</li>
		</ul>
	<p><%= link_to "Standard Affiliate Program", new_standard_path %></p>
		 </div>
	    <div class="yui-u">
	    <h1>Master Affiliate Program</h1>
		<ul class="features">
			<li>Make Breeasy <em>Your</em> Small Business!</li>
			<li>Earn up to 50% on all paid plans</li>
			<li>Earn up to 40% on renewals</li>
			<li>Easy admin and reporting</li>
			<li>Create a salesforce of affiliates and reps</li>
			<li><%= link_to "Earnings Calculator", master_affiliate_earnings_path %></li>
			<li>Exclusive offers</li>
			<li>Signup Now and begin recruiting and earning</li>
		</ul>
		<p><%= link_to "Master Affiliate Program", new_master_path %></p>
		
		</div>
		

	</div>
</div>