<div class="breadcrumbs"><a href="http://www.breeasy.com">Breeasy.com</a> > <a href="http://www.breeasy.com/opportunities">Opportunities</a> > <a href="http://affiliate.breeasy.com">Breeasy Affiliate Programs</a> > Standard Affiliate Program</div>

<div id="bd">
	<div class="yui-g">
	    <div class="yui-u first">
		<h1>Sign Up Now!</h1>
		<%= render :partial => 'affiliates/signup_form', :locals => {:master => false, :master_id => nil} %>
			<%= link_to "Already have a Login?", login_path %>
			<blockquote>"The Breeasy Affiliate Program, like all our products, is designed to be simple, easy to use, and create revenue opportunities for businesses that have cross promotional opportunities and related services.  I invite you to become an affiliate, try our apps and generate value-added profits from your blog, web content or complimentary service."<br>
		- Tom 0., Founder, Breeasy.com

		</blockquote>
		 </div>
	    <div class="yui-u">
		<%= render :partial => 'affiliates/standard_affiliate' %>
		<h2>Want to earn even more Commissions?</h2>
		<p>Be sure and check out the Breeasy Master Affiliate Program.  <%= link_to "Earn up to 50% on paid subscriptions", new_master_path %>.</p>
		</div>
		

	</div>
</div>
