<div class="breadcrumbs"><a href="http://www.breeasy.com">Breeasy.com</a> > <a href="http://www.breeasy.com/opportunities">Opportunities</a> > Master Affiliate Program</div>

<div id="bd">
	<div class="yui-g">
	    <div class="yui-u first">
		<h1>Sign Up Now!</h1>
		<%= render :partial => 'signup_form', :locals => {:master => true} %>
			<%= link_to "Already have a Login?", login_path %>
			<blockquote>"The Breeasy Affiliate Program, like all our products, is designed to be simple, easy to use, and create revenue opportunities for businesses that have cross promotional opportunities and related services.  I invite you to become an affiliate, try our apps and generate value-added profits from your blog, web content or complimentary service."<br>
		- Tom 0., Founder, Breeasy.com

		</blockquote>
		 </div>
	    <div class="yui-u">
	    <h1>Breeasy Master Affiliate Program</h1>
	    <h2>Make Breeasy <em>Your</em> Small Business!</h2>
		</div>
		

	</div>
</div>