<!DOCTYPE html>
<html>
<head>
  <title>BreeasyContact</title>
  <%= stylesheet_link_tag "application", "http://yui.yahooapis.com/combo?2.9.0/build/reset-fonts-grids/reset-fonts-grids.css&2.9.0/build/base/base-min.css", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<%= yield %>
</body>
</html>
